.link-form {
	min-height: 100vh; /* will cover the 100% of viewport */
	overflow: hidden;
	display: block;
	position: relative;
}

.form {
	width: 500px;
	background-color: '888888';
}

.detect {
	border: 2px solid white;
}